@model IEnumerable<QCMCreateur.Models.Matiere>

@{
    ViewBag.Title = "AfficherListeMatiere";
}

    <p>
        @Html.ActionLink("Nouveau", "CreerMatiere")
    </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatiereId)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MatiereId)
    </td>
    <td>
        @Html.ActionLink("Voir", "AfficherListeQCM", new { id = item.MatiereId })
    </td>
</tr>
}

</table>
